.work-level1 {
    display: none;
}

.work-level1-visible {
    display: inline;
}

.ed-level1 {
    display: none;
}

.ed-level1-visible {
    display: inline;
}

.work-level2 {
    display: none;
}

.work-level2-visible {
    display: inline;
}

.ed-level2 {
    display: none;
}

.ed-level2-visible {
    display: inline;
}

#portfolio-head {
    color: darkslategray;
    margin-top: 30px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#collection-head {
    color: darkslategray;
    margin-top: 1100px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site1 {
    margin-top: 80px;
    width: 200px;
    height: 150px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site1img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site2 {
    width: 200px;
    height: 150px;
    margin-top: 250px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site2img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site2close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site3 {
    width: 200px;
    height: 150px;
    margin-top: 420px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site3img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site3close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site4 {
    width: 200px;
    height: 150px;
    margin-top: 590px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site4img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site4close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site5 {
    width: 200px;
    height: 150px;
    margin-top: 760px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site5img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site5close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site6 {
    width: 200px;
    height: 150px;
    margin-top: 930px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site6img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site6close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site7 {
    width: 200px;
    height: 150px;
    margin-top: 1180px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site7img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site7close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site8 {
    width: 200px;
    height: 150px;
    margin-top: 1350px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site8img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site8close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#site9 {
    width: 200px;
    height: 150px;
    margin-top: 1520px;
    position: absolute;
    z-index: 50;
    left: 30px;
}

#site9img {
    width: 90%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

#site9close {
    height: 0px;
    width: 0px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#mask {
    top: -15px;
    height: 110%;
    width: 100%;
    background-color: white;
    opacity: 0;
    position: absolute;
    z-index: -10;
}